In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
movie=pd.read_csv("HollywoodMovies.csv")

In [3]:
movie.describe()

,RottenTomatoes,AudienceScore,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
count,913.000000,907.000000,949.000000,969.000000,945.000000,970.000000,876.000000,914.000000,897.000000,896.000000,895.000000,970.000000
mean,51.707558,61.271224,2495.246575,20.620826,8562.593651,68.162544,101.237419,169.009945,56.117168,384.620100,62.223575,2010.236082
std,26.821268,16.602457,1164.223356,25.338689,10645.135565,80.409969,155.987696,227.744380,53.755914,631.666012,159.713218,1.954840
min,0.000000,19.000000,1.000000,0.010000,28.000000,0.060000,0.000000,0.100000,0.000000,2.300000,0.160000,2007.000000
25%,28.000000,49.000000,2054.000000,5.300000,3528.000000,17.565000,16.667500,38.357500,20.000000,150.020000,19.505000,2009.000000
50%,52.000000,61.000000,2798.000000,13.150000,5983.000000,40.415000,46.655000,88.180000,35.000000,254.820000,34.610000,2010.000000
75%,75.000000,74.000000,3285.000000,26.200000,9790.000000,89.252500,111.908750,202.310000,75.000000,417.987500,58.375000,2012.000000
max,99.000000,96.000000,4468.000000,207.440000,147262.000000,760.500000,2021.000000,2781.500000,300.000000,10175.850000,3373.000000,2013.000000

In [4]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie             970 non-null    object
 1   LeadStudio        961 non-null    object
 2   RottenTomatoes    913 non-null    float64
 3   AudienceScore     907 non-null    float64
 4   Story             641 non-null    object
 5   Genre             691 non-null    object
 6   TheatersOpenWeek  949 non-null    float64
 7   OpeningWeekend    969 non-null    float64
 8   BOAvgOpenWeekend  945 non-null    float64
 9   DomesticGross     970 non-null    float64
 10  ForeignGross      876 non-null    float64
 11  WorldGross        914 non-null    float64
 12  Budget            897 non-null    float64
 13  Profitability     896 non-null    float64
 14  OpenProfit        895 non-null    float64
 15  Year              970 non-null    int64
dtypes: float64(11), int64(1), object(4)
memory usage: 121.4+ KB

In [5]:
movie=pd.get_dummies(movie)

In [6]:
movie.head()

,RottenTomatoes,AudienceScore,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,...,Genre_Comedy,Genre_Crime,Genre_Documentary,Genre_Drama,Genre_Fantasy,Genre_Horror,Genre_Musical,Genre_Mystery,Genre_Romance,Genre_Thriller
0,61.0,54.0,4252.0,151.1,35540.0,336.53,554.34,890.87,258.0,345.30,...,False,False,False,False,False,False,False,False,False,False
1,42.0,57.0,4122.0,121.6,29507.0,322.72,476.24,798.96,160.0,499.35,...,False,False,False,False,False,False,False,False,False,False
2,57.0,89.0,4011.0,70.5,17577.0,319.25,390.46,709.71,150.0,473.14,...,False,False,False,False,False,False,False,False,False,False
3,45.0,74.0,4362.0,114.7,26302.0,309.42,654.00,963.42,300.0,321.14,...,False,False,False,False,False,False,False,False,False,False
4,78.0,82.0,4285.0,77.1,17998.0,292.00,647.88,939.89,150.0,626.59,...,False,False,False,False,False,False,False,False,False,False

In [7]:
del movie['Genre_Documentary']
del movie['Genre_Crime']

In [8]:
movie.head()

,RottenTomatoes,AudienceScore,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,...,Genre_Animation,Genre_Biography,Genre_Comedy,Genre_Drama,Genre_Fantasy,Genre_Horror,Genre_Musical,Genre_Mystery,Genre_Romance,Genre_Thriller
0,61.0,54.0,4252.0,151.1,35540.0,336.53,554.34,890.87,258.0,345.30,...,False,False,False,False,False,False,False,False,False,False
1,42.0,57.0,4122.0,121.6,29507.0,322.72,476.24,798.96,160.0,499.35,...,True,False,False,False,False,False,False,False,False,False
2,57.0,89.0,4011.0,70.5,17577.0,319.25,390.46,709.71,150.0,473.14,...,False,False,False,False,False,False,False,False,False,False
3,45.0,74.0,4362.0,114.7,26302.0,309.42,654.00,963.42,300.0,321.14,...,False,False,False,False,False,False,False,False,False,False
4,78.0,82.0,4285.0,77.1,17998.0,292.00,647.88,939.89,150.0,626.59,...,False,False,False,False,False,False,False,False,False,False